.hidden {
    display: none!important;
}

.visually-hidden {
    visibility: hidden;
    position: absolute;
    z-index: -999;
    left: -9999px;
}

.cl {
    @include cl();
}

.unpublished,
.published {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: $radius;
    border: 1px solid $grey_light;
}

.published {
    border-color: $grey_strong;
    text-align: center;
    &::after {
        color: $grey_strong;
        content: "✓";
    }
}

.bold {
    font-weight: bold;
}
