*
{
    box-sizing: border-box;
}

body
{
    font: $font_main;
}

a
{
    text-decoration: none;
    color:           $link;
    transition:      $transition;

    &:hover
    {
        color: $link_hover;
    }
}
